services:
  db:
    image: postgres:18-alpine
    container_name: postgres_db
    restart: unless-stopped
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postpass
    healthcheck:
      test: "pg_isready -U postgres"
      interval: 1s
      timeout: 5s
      retries: 10

  api:
    build: .
    ports:
      - "8000:8000"
    container_name: fastapi_todos
    depends_on:
      db:
        condition: service_healthy
    healthcheck:
      test: curl localhost:8000/meta/test
      interval: 1s
      timeout: 5s
      retries: 10
